<!DOCTYPE html>
<html>
    <head>
        <meta lang = "hu">
        <meta charset = "utf-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
        <link rel = "stylesheet" href="static/Stiluslap.css">
    </head>
            <body>
                <div class = "main">
                    <nav>
                        <a href = "/newsletter">News</a>&nbsp;&nbsp;
                        <a href = "/allsafe">All Safe</a>&nbsp;&nbsp;
                        <a href = "/fsociety">Fsociety</a>&nbsp;&nbsp;
                        <a href = "/history">History</a>&nbsp;&nbsp;
                        <a href = "/career">Career</a>&nbsp;&nbsp;
                    </nav>
                    <div class = "container">

                        <div class = "row">
                            <div class = "col-sm-12">
                                <h1 class = "about">About the company</h1>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-sm-12">
                                <p class = "aboutus">
                                    Evil Corp is one of the largest multi-national conglomerates in the world. Among our enterprises, our manufacture computers, phones, and tablets, and maintain a banking and consumer credit division. The company owns 70% of the global consumer credit industry, which is why fsociety has targeted them.
                                </p>
                                
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-sm-6">
                                <p class = "aboutus2">
                                    In 1986, Lester Moore was made CEO. Under him, the company became the world's largest employer in 1990, Bank of E became the world's largest consumer bank in 1992, and E Corp opened manufacturing plants in China, Japan, Singapore, and South Korea in 1993.
                                </p>

                                <p class = "aboutus2">
                                    Since our inception in 1986, E-Corp has built our business and reputation on quality, integrity, and    demonstrated performance. When you choose E-Corp, you not only benefit from expertise gained on performing more than 1300 federal projects and 30+ IDIQ contracts, but you also gain a team of professionals guided by highly experienced project managers.

                                    With E-Corp as your contractor, you receive high business standards and work ethic delivered through the hard-working hands of reputable personnel, laboring with the focus to provide every client with only the most desirable services.</p>
                                
                            </div>
                            <div class = "col-sm-6">
                                <img src = "static/Ec_b8.jpg" class = "kep2" alt = "ECorpBuilding">
                            </div>
                        </div>
                        <div class = "row">
                            <div class= "col-sm-6">
                                
                                <p class = "aboutus2">
                                    E-Corp has performed on more than 1000 projects for various federal agencies. Federal work is all we do. Our team is highly experienced in performing projects at high-security, fully occupied sites too. We have a team of experts that have PIV security badging in place to allow us access into most federal facilities, and many of our personnel also have badging that allows them on military installations
                                </p>
                            
                            </div>
                            <div class = "col-sm-6">
                                <img src = "static/itsec.jpg" class = "kep3" alt = "Security">
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                    <!-- Oldalsó menü -->
                    <div class="menu">
                        <a href="/add">About us</a>
                        <a href="/index">Homepage</a>
                        <a href="/munkatarsaink">Colleagues</a>
                        <a href="/Szolgaltatasok">Services</a>
                        <a href="/kapcsolat">Contact us </a>
                       
                    </div>
            </body>
</html>