<!DOCTYPE html>
<html>
    <head>
        <meta lang = "hu">
        <meta charset = "utf-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
        <link rel = "stylesheet" href="static/Stiluslap.css">
    </head>
            <body>
                <div class = "main">
                  <nav>
                    <a href = "/newsletter">News</a>&nbsp;&nbsp;
                    <a href = "/allsafe">All Safe</a>&nbsp;&nbsp;
                    <a href = "/fsociety">Fsociety</a>&nbsp;&nbsp;
                    <a href = "/history">History</a>&nbsp;&nbsp;
                    <a href = "/career">Career</a>&nbsp;&nbsp;
                </nav>
                    <div class = "container">
                        <div class = "row">
                            <div class = "col-sm-12">
                                <h1 class="colleagues">Meet our colleagues!</h1>
                                <hr>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-sm-4">
                                <table>
                                    <tr>
                                      <th class = "tablazat">Phillip Price</th>
                                    </tr>
                                    <tr>
                                        <th class = "tablazat">Chief Executive Officer</th>
                                      </tr>
                                    <tr>
                                      <td class = "tablazat">
                                          <img src = "static/Phillip_Price.jpg" class = "img-thumbnail"  alt = "Phillip_Price">
                                      </td>
                                    </tr>
                                  </table>
                            </div>
                            <div class = "col-sm-4">
                                <table>
                                    <tr>
                                      <th class = "tablazat">Terry Colby</th>
                                    </tr>
                                    <tr>
                                        <th class = "tablazat">Chief Technical Officer</th>
                                      </tr>
                                    <tr>
                                      <td class = "tablazat">
                                          <img src = "static/Terry_Colby.jpg" class = "img-thumbnail"  alt = "Terry_Colby">
                                      </td>
                                    </tr>
                                  </table>
                            </div>    
                            <div class = "col-sm-4">
                                <table>
                                    <tr>
                                      <th class = "tablazat">Tyrell Wellick</th>
                                    </tr>
                                    <tr>
                                        <th class = "tablazat">Chief Technical Officer</th>
                                      </tr>
                                    <tr>
                                      <td class = "tablazat">
                                          <img src = "static/Tyrell_Wellick.jpg" class = "img-thumbnail"  alt = "Tyrell Wellick">
                                      </td>
                                    </tr>
                                  </table>
                            </div>
                            <div class = "row">
                                <div class = "col-sm-4">
                                    <div class = "intro">
                                    He became CEO of E Corp in 1995. Under his tenure, the company reached new heights: expanding into new fields such as technology and media, employment topping 20 million, posting the highest profits.
                                    </div>
                                </div>
                                <div class = "col-sm-4">
                                    <div class = "intro">
                                        Terry Colby is a career executive, formerly Chief Technology Officer (CTO) of E Corp. Despite his position, Colby is not very up-to-date with technology; to compensate, he worked closely with the ambitious Senior Vice President of Technology, Tyrell Wellick.
                                    </div>
                                </div>    
                                <div class = "col-sm-4">
                                    <div class = "intro">
                                        Power belongs to the people that take it. Nothing to do with their hard work, strong ambitions, or rightful qualifications, no. The actual will to take is often the only thing that's necessary.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                          <div class = "col-sm-12">
                            <h3 class = "workers">We are working together</h3>
                            <ul class = "felsorolas">
                              
                                <span class = "new" title = "Susan Jacobs"> Susan Jacobs -</span>
                                <span class = "new" title = "Linda Spencer"> Linda Spencer -</span>
                                <span class = "new" title = "Michael Ralbern"> Michael Ralbern -</span>
                                <span class = "new" title = "Janet Robinson"> Janet Robinson -</span>
                                <span class = "new" title = "Peter McCleery"> Peter McCleery -</span>
                                <span class = "new" title = "William Braddock"> William Braddock -</span>
                                <span class = "new" title = "Jeremy Harris Mikeson"> Jeremy Harris Mikeson -</span>
                                <span class = "new" title = "Gracie Sheldern"> Gracie Sheldern </span>
                                <span class = "new" title = "Charlie O'Shearn"> Charlie O'Shearn</span>
                                <span class = "new" title = "John Laslen"> John Laslen</span>
                                <span class = "new" title = "Kevin Shelvern"> Kevin Shelvern</span>
                                <span class = "new" title = "Alivia Murabahti"> Alivia Murabahti</span>
                                <span class = "new" title = "Kara Mulrigan"> Kara Mulrigan</span>
                                <span class = "new" title = "Eric Nessberg"> Eric Nessberg</span>
                                <span class = "new" title = "Karen Ivanthal"> Karen Ivanthal</span>
                                <span class = "new" title = "John Tholdon"> John Tholdon</span>
                                <span class = "new" title = "Mike Lowdell"> Mike Lowdell</span>
                                <span class = "new" title = "Myhoa Kulaimo"> Myhoa Kulaimo</span>
                                <span class = "new" title = "Carrie Henbar"> Carrie Henbar</span>
                                <span class = "new" title = "Belle Kiriyuchi"> Belle Kiriyuchi</span>
                                <span class = "new" title = "Bryan Gilamito"> Bryan Gilamito</span>
                                <span class = "new" title = "Brian Elkarn"> Brian Elkarn</span>
                                <span class = "new" title = "Michael Astdorn"> Michael Astdorn</span>
                            </ul>
                          </div>
                        </div>
                </div>
                </div>
                </div>
                    <!-- Oldalsó menü -->
                    <div class="menu">
                      <a href="/add">About us</a>
                      <a href="/index">Homepage</a>
                      <a href="/munkatarsaink">Colleagues</a>
                      <a href="/Szolgaltatasok">Services</a>
                      <a href="/kapcsolat">Contact us </a>
                     
                    </div>
            </body>
</html>