<!DOCTYPE html>
<html>
    <head>
        <meta lang = "hu">
        <meta charset = "utf-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
        <link rel = "stylesheet" href="static/Stiluslap.css">
    </head>
            <body>
                <div class = "main">
                   
                            
                                <nav>
                                    <a href = "/newsletter">News</a>&nbsp;&nbsp;
                                    <a href = "/allsafe">All Safe</a>&nbsp;&nbsp;
                                    <a href = "/fsociety">Fsociety</a>&nbsp;&nbsp;
                                    <a href = "/history">History</a>&nbsp;&nbsp;
                                    <a href = "/career">Career</a>&nbsp;&nbsp;
                                </nav>
                            
                    <div class = "container">
  
                         <div class="row d-flex justify-content-center align-items-center rows">
                                <div class="col-sm-12">
                                        <div class="card">
                                                 <img src="static/Dh7U4bp.jpg" class = "text-center" width="200">
                                                    <p class = "sub" > Subscribe to our newsletter and stay updated on the latest developments and special offers!</p>
                                                    <div class="mx-5">
                                                            <form action = "/savedetails" method="post">
                                            <table>
                                                        <tr><td>Name</td><td><input type="text" name="name"></td></tr>
                                                        <tr><td>Email</td><td><input type="email" name="email"></td></tr>
                                                        <tr><td><input type="submit" value="Submit"></td></tr>
                                            </table>
                                                            </form>
                                                    </div>
                                        </div>
                                </div>                           
                            </div>
                    </div>
                </div>
                    <!-- Oldalsó menü -->
                    <div class="menu">
                        <a href="/add">About us</a>
                        <a href="/index">Homepage</a>
                        <a href="/munkatarsaink">Colleagues</a>
                        <a href="/Szolgaltatasok">Services</a>
                        <a href="/kapcsolat">Contact us </a>
                     ">Contact us </a>
                      
                    </div>
            </body>
</html>