<!DOCTYPE html>
<html>
    <head>
        <meta lang = "hu">
        <meta charset = "utf-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
        <link rel = "stylesheet" href="static/Stiluslap.css">
    </head>
            <body>
                <div class = "main">
                    <nav>
                        <a href = "/newsletter">News</a>&nbsp;&nbsp;
                        <a href = "/allsafe">All Safe</a>&nbsp;&nbsp;
                        <a href = "/fsociety">Fsociety</a>&nbsp;&nbsp;
                        <a href = "/history">History</a>&nbsp;&nbsp;
                        <a href = "/career">Career</a>&nbsp;&nbsp;
                    </nav>
                    <div class = "container">
                        <div class = "row">
                            <div class = "col-sm-12">
                                <div class = "focim2">
                                    <h1>Our services</h1>
                                </div>
                            </div>
                        </div>
                                <div class = "bev">
                                <p class = "serv">
                                    Since 1992 E Corp is the world's largest consumer bank but nowadays we provides IT solutions to our clients through business process consulting, software development, IT security and business process on E Corp had around 200000 employees by the end of March 2017 and it's headquarter is located in New York City. Our company is also known for it's high gender diversity as it has around 36% of women workforce all across the world. 
                                </p>
                                </div>
                                <img src = "static/serv1.jpg" class = "text-center_3" alt = "company">
                        <div class = "row">
                            <div class = "col-sm-12">
                                <div class = "focim3">
                                    <h1>Cash flow is the lifeblood of all business</h1>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-sm-8">
                                <p class = "serv2">
                                    E Corp Business Online Banking is designed to make managing your cash, payables, and receivables easier than ever! With eCorp, you can make immediate and accurate decisions based on real-time information. This efficient and secure cash management solution displays account information in convenient and easy-to-navigate formats.
                                </p>
                            </div>
                            <div class = "col-sm-4">
                                <img src = "static/mb.png" class="kep4"  alt = "mobile banking">
                            </div>
                        </div>
                    </div>

                </div>
                    <!-- Oldalsó menü -->
                   <!-- Oldalsó menü -->
                    <div class="menu">
                    <a href="/add">About us</a>
                    <a href="/index">Homepage</a>
                    <a href="/munkatarsaink">Colleagues</a>
                    <a href="/Szolgaltatasok">Services</a>
                    <a href="/kapcsolat">Contact us </a>
                     ">Contact us </a>
                 
                    </div>
            
            </body>
</html>